<!-- Page Header -->
<div class="container">
	<div class="jumbotron">
		<h1>Introduction</h1>
		<p>How-To Utilize Wargaming's Web API</p>
	</div>
</div>
<!-- Page Content -->
<p>Wargaming has developed an extensive <a href="https://na.wargaming.net/developers/">web API</a> for accessing general game information and user data. Examples of this include player statistics, clan performance, and vehicle information. All of this is sent as url-encoded queries or forms and returned as JSON. This guide’s goal is to provide an overview of some of the API elements that specifically pertain to Wargaming’s World of Tanks PC video game.</p>

<p>In this guide we will discuss the following API calls:</p>
<ul>
	<li>Account Information (account/list)</li>
	<li>Player’s Personal Data (account/info)</li>
	<li>Tankopedia Vehicles (encyclopedia/vehicles)</li>
	<li>Tankopedia Vehicle Characteristics (encyclopedia/vehicleprofile)</li>
</ul>

<p>There are many more APIs that are available that allow for querying pretty much everything in the game.</p>

<p>So without further delay … Tankers, roll out!</p>